.main {
  width: 100%;
}

.description {
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  padding: 1rem;
  color: white;
  max-width: var(--max-width);
  margin: 0 auto;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
}

.logo {
  position: relative;
}


/* Mobile */
@media (max-width: 700px) {

  .description {
    flex-direction: column;
  }




}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

