.history--container {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.history--heading {
  display: flex;
  justify-content: space-between;
}

.history--heading h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
}

.history--heading p {
  width: 40%;
  font-size: 20px;
  color: #9C9B9C;
}

.history--hero--img {
  border-radius: 12px;
}

.history--heading br {
  display: none;
}

.history--sub_heading {
  padding-top: 3.5rem;
  display: flex;
  justify-content: space-between;
}

.history--sub_heading p {
  width: 40%;
  font-size: 20px;
  color: #9C9B9C;
}

@media (max-width: 700px) {
  .history--container {
    padding: 1rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
  }

 .history--heading {
  flex-direction: column;
 } 

 .history--heading h1 {
  padding-bottom: 1.25rem;
  text-transform: none;
 }

 .history--heading p {
  width: 100%;
 }

 .history--heading br {
  display: block;
}

 .history--sub_heading {
  flex-direction: column-reverse;
 }

 .history--sub_heading p {
    width: 100%;
    padding-top: 1.25rem;
  }
}