.header--container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
  padding: 3rem;
  background-color: #182434;
  border-radius: 20px;
}

.header--module {
  display: flex;
}

.header--sub_container {
  display: block;
  color: white;
}

.header--sub_container h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
}

.header--sub_container p {
  font-family: var(--font-text);
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  margin-top: 6px;
  width: 70%;
}

.header--left_container {
  display: relative;
  width: 100%;
}

.header--module img {
  border-radius: 10px;
}

.space {
  padding: 2rem;
}

.header__img {
  width: 450px;
  height: auto;
}

.mob__img {
  display: none;
}

.main__button {
  background-color: #377666;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  border: none;
  line-height: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}

.main__button a {
  color: white;
}

.footer-note {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 500;
}

@media screen and (max-width: 640px) {
  .header--container {
    display: block;
    margin-top: 3em !important;
    margin: 8px;
    padding: 1.2rem;
  }

  .header--module {
    display: block;
  }

  .header--sub_container {
    display: block;
  }

  .header--sub_container h1 {
    font-size: 28px;
    max-width: 100%;
    font-weight: 500;
    line-height: normal;
    padding-top: 1rem;
  }

  .header--sub_container p {
    font-size: 18px;
    width: 99%;
    line-height: normal;
    padding-bottom: 1rem;
  }

  .header__img {
    display: none;
  }

  .space {
    display: none;
  }

  .mob__img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .header--sub_container button {
    width: 100%;
  }

  .footer-note {
    margin-top: 2rem;
    font-size: 24px;
    padding: 8px;
  }
}
