.footer-container {
  max-width: 1280px;
  margin: auto;
  background: white;
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 4em;
  align-items: center;
}

.footnote {
  font-weight: 500;
}

.footer-logo {
  width: 100px;
}

.footer-link-container {
  display: flex;
}

.footer-link a {
  color: rgba(0, 0, 0, 0.6);
}

.footer-link a:hover {
  color: black;
}

@media screen and (max-width: 640px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-logo {
    padding-bottom: 1.5em;
  }

  .footnote {
    padding-bottom: 1em;  
  }

  .footer-link-container li {
    padding-bottom: .3em;
  }
}