.project {
  padding-bottom: 5rem;
}

.projects--main {
  color: black;
  padding-bottom: 6rem;
  padding-top: 3rem;
}

.panel-gallery {
  width: 100%;
}

.panel-image {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.imageClassName {
  object-fit: cover;
}

@media (max-width: 700px) {
  .projects--main {
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

  video {
    width: 100%;
    height: auto;
  }

  .panel-image {
    width: 100%;
    flex-direction: column;
  }

  .imageClassName {    
    width: 100%;
    padding-bottom: 1rem;
  }
}