.logo {
  width: 100px;
}

li {
  color: var(--darkBlue);
  list-style: none;
  display: flex;
  margin-right: 24px;
  cursor: pointer;
  font-weight: 500;
}

ul {
  display: flex;
}

.navbar-toggle {
  display: none;
}

.main {
  background: white;
  margin: 0 auto;
  position: relative;
  z-index: 999;
}

.main-container {
  display: none;
}

.navbar {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.navbar-items {
  display: flex;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
}

.main-container {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(0,0,0,0.3);
}


.nav-button {
  color: #fff;
}



@media screen and (max-width: 640px) {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }

  .main {
    padding: 0;
    position: static;
  }

  button {
    display: none;
  }

  .navbar {
    display: flex;
    background: white;
    z-index: 9999;
    position: relative;
  }

  .navbar.open .navbar-items {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }

  .navbar-toggle {
    display: block;
    margin: 0;
    z-index: 9999;
    position: relative;
  }
  
  .main-container {
    display: block;
  }

  .navbar-items {
    display: none;
    background-color: #fff;
    padding: 1rem;
    position: fixed;
    width: 80%;
    border-radius: 8px;
    margin-top: 27.5rem;
  }

  .navbar-items li {
    padding: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    margin: 0;
  }

}